<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TilemapEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TilemapEditor.Properties.Settings>
            <setting name="NumberOfRows" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumberOfColumns" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TileWidth" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="TileHeight" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="TileOutlineColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="TileSelectedOutlineColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TileHoverOutlineColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
        </TilemapEditor.Properties.Settings>
    </userSettings>
</configuration>